[submodule "ansible/cookiecutter/0/cookiecutter-ansible-playbook"]
	path = ansible/cookiecutter/0/cookiecutter-ansible-playbook
	url = https://github.com/inhumantsar/cookiecutter-ansible-playbook.git
