#Jinja2==2.11.2
#PyYAML==5.3.1
#ansible==2.9.9
#cryptography==2.9.2
#pycrypto==2.6.1
MarkupSafe==1.1.1
ansible-lint==4.2.0
cffi==1.14.0
enum34==1.1.10
idna==2.9
ipaddress==1.0.23
paramiko==2.7.1
pyasn1==0.4.8
pycparser==2.20
six==1.14.0
