ansible==2.9.9
ansible-lint==4.2.0
cffi==1.14.0
cryptography==39.0.1
enum34==1.1.10
idna==2.9
ipaddress==1.0.23
Jinja2==2.11.3
MarkupSafe==1.1.1
paramiko==2.7.1
pyasn1==0.4.8
pycparser==2.20
pycrypto==2.6.1
PyYAML==5.3.1
six==1.14.0
